<% content_for :title do %>Sign Up<% end %>

<% if @user.errors.any? %>
  <div class="alert">
    <h4><%= pluralize @user.errors.count, 'Error' %></h4>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<span class="section-header">Sign Up</span>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  
  <div class="form-group">  
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  
  <%= f.submit 'Submit', :class => 'btn btn-default' %>
<% end %>
