<span class="section-header"><%= @user.full_name %></span>

<hr>

<p><b>Username: </b><%= @user.username %></p>
<p><b>Role: </b><%= @user.role %></p>
<p><b>Email:</b> <%= @user.email %></p>


<div class="row">
  <% @categories.each do |category| %>
    <div class="col-md-6">
      <h4><%= category.title %></h4>
      <div class="well well-sm text-left">
        <% category_question_ids = category.question_ids %>
        <% category_responses = @user.responses.where('question_id IN (?)', category_question_ids).completed %>
        <% if category_responses.any? %>
          <% category_responses.each do |response| %>
            <ul class="list-group">
              <%= image_tag response.question.image_url, class: 'img-thumbnail center-div' %>
            </ul>
          <% end %>
        <% else %>
          No responses in category
        <% end %>
      </div>
    </div>
  <% end %>
</div>
