<span class="section-header">Join Course</span>

<hr>

<%= form_for @current_user do |f| %>
  <div class="well well-small">
    <% if @current_user.errors.any? %>
      <div class="alert">
        <h4><%= pluralize @response.errors.count, 'Error' %></h4>
        <ul>
          <% @response.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label 'Enter the course code provided by your instructor' %>
      <%= f.text_field :course_id, class: 'form-control' %>
    </div>

    <%= f.submit 'Submit', :class => 'btn btn-default' %>
  </div>
<% end %>
  