<span class="section-header"><%= @category.title %></span>

<hr>

<p><%= @category.description %></p>
<BR>
<h3>Example 1</h3>	
<BR>
<%= image_tag "http://i.imgur.com/XWedJ9U.jpg", class: 'center-div img-responsive img-thumbnail ' %>
<BR>
<div class="panel panel-success">
  <div class="panel-heading">
    Effective
  </div>
  
  <div class="panel-body">
    <%= @category.good_example1 %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    Less Effective
  </div>
  
  <div class="panel-body">
<%= @category.bad_example1 %>
</div>
</div>

<BR><hr>
<h3>Example 2</h3>	
<BR>
	
<%= image_tag "http://i.imgur.com/e71PBW6.jpg", class: 'center-div img-responsive img-thumbnail ' %>
<BR>

<div class="panel panel-success">
  <div class="panel-heading">
    Effective
  </div>
  
  <div class="panel-body">
    <%= @category.good_example2 %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    Less Effective
  </div>
  
  <div class="panel-body">
<%= @category.bad_example2 %>
</div>
</div>


<BR><hr>
<h3>Example 3</h3>	
<BR>


<%= image_tag "http://i.imgur.com/giIssYN.jpg", class: 'center-div img-responsive img-thumbnail ' %>
<BR>

<div class="panel panel-success">
  <div class="panel-heading">
    Effective
  </div>
  
  <div class="panel-body">
    <%= @category.good_example3 %>
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">
    Less Effective
  </div>
  
  <div class="panel-body">
<%= @category.bad_example3 %>
</div>
</div>


<BR>

<div>
  <%= link_to 'Try it yourself!', new_response_path(category_id: @category.id), class: 'btn btn-lg btn-success' %>
</div>
